.footer {
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    color: var(--green);
    background: var(--background-2);
    border-top: 1px solid var(--purple);

    /* bottom: 0;
    position: absolute; */

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer img {
    width: 1rem;
    transform: translateY(2px);
}