.container main {
    width: 60%;
    margin: 0 auto;
    min-height: calc(100vh - (20vh + 16.5rem));
}

.container section header {
    margin: 1rem 7.75rem 2rem;
}

.container section header h2 {
    margin-bottom: .5rem;
}

.container section article p {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-indent: 7.75rem;
    text-align: justify;
}