:root {
  --background: #202020;
  --background-2: #383838;
  --shadow: #585858;
  --text: #DDDDDD;
  --purple: #7A00A5;
  --purple-light: #D04DFF;
  --green: #00FF19;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background: var(--background);
  color: var(--text);
  font: 400 1rem 'Inter', sans-serif;
}

button, a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}


/* responsive fonts */
@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 768px) {
  html {
      font-size: 87.5%;
  }
}