.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container main {
  width: min(1400px, 90vw);
  height: 90vh;
  padding: 4rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container header div {
  display: flex;
}

.container header img {
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--purple);
  border-radius: 15px;
}

.container header h1 {
  font-size: 2.75rem;
  line-height: 4rem;
  margin: 0 0 4rem 2.25rem;
}

.container header p {
  font-size: 1.75rem;
  max-width: 900px;
}

.container header p strong {
  color: var(--green);
  font-weight: 400;
}

.container section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.25rem 6rem;
}