.container main {
    width: 60%;
    margin: 0 auto;
}

.container main hr:first-of-type {
    margin: .5rem 0 2rem;
}

.container main hr {
    margin: 1.5rem 0;
}

.container main hr:last-of-type {
    display: none;
}

.container footer {
    position: relative;
}